.side-bar {
    background: var(--light-color-sidebar);
    width: 50%;
    min-width: 350px;
    max-width: 450px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
}
.body-dark .side-bar {
    background: var(--wave2-dark);
}
.side-bar > .nav-brand {
    padding: 1.15rem 1.3rem;
    padding-right: 0;
    cursor: pointer;
    font-weight: 700;
}
.side-bar .list > .list-item {
    list-style-type: none;
    padding-right: 0;
    position: relative;
    padding: 0rem 0rem;
    background: inherit;
    /* background: chartreuse; */
    /* border: 2px solid green; */
    cursor: pointer;
}
.side-bar .list > .list-item > button {
    /* border: 2px solid blueviolet; */
    /* padding: 1rem; */
    border-radius: 0px;
    background: inherit;
    display: inline-flex;
    position: relative;
    cursor: pointer;
}
.side-bar .list > .list-item > button > .down {
    position: absolute;
    font-size: 0.7rem;
    right: 1rem;
    top: 1rem;
}
.side-bar .list > .list-item > button {
    font-weight: 500;
    /* background: red; */
    font-size: 0.96rem;
    width: 100%;
    margin-top: 0.2rem;
    padding: 0.8rem 1.3rem;
    transition: all 0.05s ease-in-out;
}
.side-bar .list > .list-item > button:focus ~ .list .list-item button,
.side-bar .list > .list-item > a:focus ~ .list .list-item button {
    transition: all 0.1s ease-in-out;
    animation: 0.28s collapseHeight 1 reverse;
}
.side-bar .list .list-item button:focus,
.side-bar .list .list-item button:hover,
.side-bar .list .list-item.active button {
    color: var(--dark-grey);
    background: var(--light-blue-hover);
    /* border-right: 0px solid ; */
    border-left: 4px solid var(--wave2);
}
.body-dark .side-bar .list .list-item button:focus,
.body-dark .side-bar .list .list-item button:hover ,
.body-dark .side-bar .list .list-item.active button {
    background: var(--wave1-dark);
    color: var(--green-dark-50);
    border: none;
}
.body-dark .side-bar .list .list-item button ~ .fa-caret-down,
.body-dark .side-bar .list .list-item button ~ .fa-caret-down {
    color: var(--green-dark-50);
}
.side-bar .list .list-item button:focus ~ .fa-caret-down,
.side-bar .list .list-item button:hover ~ .fa-caret-down,
.side-bar .list .list-item.active button ~ .fa-caret-down {
    color: var(--light-bg);
}
.side-bar .list > .list-item > .list > .list-item > button {
    padding: 0.8rem 2.8rem;
}
.body-dark .side-bar .list button{
    color: var(--green-dark-50);
}
.side-bar
    .list
    > .list-item
    > .list
    > .list-item
    > .list
    > .list-item
    > button {
    padding: 0.8rem 4.3rem;
}
.side-bar
    .list
    > .list-item
    > .list
    > .list-item
    > .list
    > .list-item
    > .list
    > .list-item
    > button {
    padding: 0.8rem 5.8rem;
}
@keyframes collapseHeight {
    from {
        display: block;
        transform: scaleY(1);
    }
    to {
        display: none;
        transform: scaleY(0);
        color: transparent;
    }
}

.side-bar > .nav-brand > .text {
    font-size: 1.4rem;
    font-weight: 700;
    display: inline-flex;
    position: relative;
    padding: 0 1rem;
}
.side-bar > .nav-brand > .text > .thunder {
    position: absolute;
    fill: var(--myBg);
    width: 20px;
    height: 20px;
    top: -8%;
    left: 33%;
}
.side-bar.light-style > .nav-brand > .text > .thunder {
    fill: var(--wave3);
}

.side-bar > .nav-brand > .text > .thunder > svg {
    transform: rotate3d(0, 0, 1, 16deg);
}
.side-bar > .nav-brand {
    font-weight: 700;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    color: var(--wave1);
}
.body-dark .side-bar > .nav-brand {
    color: var(--green-dark-50);
}
.m-0 {
    margin: 0;
}
.floating-menu {
    position: fixed;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    display: flex;
    justify-content: flex-end;
    background: var(--wave3);
    align-items: center;
    bottom: 8rem;
    opacity: 0.98;
    left: -1rem;
    z-index: 2;
    border: 4px var(--light-color-100);
    border-style: dashed;
    box-shadow: var(--floating-btn-shadow-light);
    transition: 0.3s ease-in-out;
}
.floating-menu:hover{
    opacity: 1;
}
.side-bar.open {
    animation: 1s slideLeft 1;
    display: block;
}

.side-bar.close {
    animation: 1s slideLeft 1 reverse;
    
}

@keyframes slideLeft {
    from {
        left: -100%;
        /* display: none; */
    }
    to {
        /* transform: translate(-100%,0); */
        left: 0%;
        /* display: block; */
    }
}

.floating-menu > i {
    color: var(--light-bg);
}

.body-dark .floating-menu{
    border-radius: 50%;
    border-width: 4px;
    height: 60px;
    width: 60px;
    border-color: var(--green-dark-100);
    box-shadow: var(--floating-btn-shadow-dark);
}

.body-dark .floating-menu:hover{
    border-color: var(--green-dark-50);
}

.body-dark .floating-menu > i {
    color: var(--green-dark-50);
}
